@model IEnumerable<StoreForColman.Models.Product>

@{
    ViewBag.Title = "רשימת המוצרים";
}

<h2>רשימת המוצרים</h2>

@Html.Partial("_ProductFiltering")

<table class="table table-striped table-condensed table-hover" id="products-index">
    <tr class="table-head">
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufactorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceInNIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountInStore)
        </th>
        <th></th>
    </tr>
</table>

@section Scripts {
    <script src="~/Content/products.filtering.js"></script>
    <script src="~/Content/admin.products.js"></script>
}
