@model StoreForColman.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            מספר הזמנה
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            משתמש
        </dt>
        <dd>
            @Html.ActionLink(Model.User.FullName, "Details", "AdminUsers", new { id = Model.User.Id })
        </dd>
        <dt>
            פריטים בהזמנה
        </dt>
        <dd>
            <ul>
                @foreach (var product in Model.Products)
                {
                    <li>@product.Product.Name @("x" + product.Quantity)</li>
                }
            </ul>
        </dd>
        <dt>
            סה"כ להזמנה
        </dt>
        <dd>
            @Model.Products.Sum(p => p.Quantity * p.CurrentPriceInNIS) ש"ח
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
