<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - החנות</title>
    @Styles.Render("~/Content/css")
    <!--    
    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/master/dist/css/bootstrap-rtl.min.css">
    -->
    <link rel="stylesheet" href="~/Content/bootstrap-hebrew.css" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("חנות הכיף", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("דף הבית", "Index", "Home")</li>
                    <li>@Html.ActionLink("מוצרים", "Index", "Products")</li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="/Order" id="cart-items-link">
                            <span class="glyphicon cart-icon glyphicon-shopping-cart"></span>
                            <span id="cart-items-number">0</span> פריטים בסל
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>לכבוד המכללה למנהל</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        window.isLoggedIn = @(Session["user"] != null ? "true" : "false");
    </script>
    <script src="~/Content/functional.js"></script>
    <script src="~/Content/cart.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
