@using Microsoft.AspNet.Identity
@using StoreForColman.Models
@if (Session["user"] != null)
{
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a>
                שלום לך @((Session["user"] as ApplicationUser).FullName)
            </a>
        </li>
        <li>
            @Html.ActionLink("התנתק", "Delete", "Session")
        </li>
        @if ((Session["user"] as ApplicationUser).IsAdmin)
        {
            <li>
                @Html.ActionLink("מסך ניהול", "Index", "Admin")
            </li>
        }
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("הרשם", "Create", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("התחבר", "Create", "Session", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
